.user-payment {
    background-color: #ff6f61;
    height: 1300px;
    width: 100%;
    margin-top: 150px;
}

.user-payment hr {
    border: 3px solid #a3a3a3;
    margin-top: 20px;
    margin-bottom: 40px;
}

.payment-title {
    display: flex;
    gap: 40px;
    margin-left: 40px;
}

.payment-title i {
    font-size: 30px;
    color: wheat;
}

.payment-title p {
    font-size: 30px;
    font-weight: bold;
}

.payment-body {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
}

.payment-details {
    border: 3px solid #ff0000;
    height: 1100px;
}

.payment-details p {
    font-size: 20px;
    /* font-weight: bold; */
    color: wheat;
    margin-left: 40px;
    padding: 20px;
}

.payment-details__methods {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-bottom: 20px;
}

.payment-details__cards {
    border: 3px solid #ff0000;
    height: 80px;
    margin-left: 40px;
}

.payment-details__paypal {
    border: 3px solid #ff0000;
    margin-right: 40px;
}

.expiration_date,
.card_number,
.cardholder_name {
    font-size: 15px !important;
}

.payment-details input {
    border: 3px solid #ff0000;
    margin-left: 40px;
    padding: 20px;
    width: 90%;
}

.order-summery {
    border: 3px solid #ff0000;
    /* Màu nền cho tóm tắt đơn hàng */
    /* Khoảng cách bên trong */
    /* border-radius: 5px; */
    /* Bo góc */
}