/* .customer-info {
    background-color: #b9b596;
}

.customer-info u {
    text-decoration: underline;
}

.customer-info {
    padding: 20px;
    background-color: #f8f8f8;
    border-top: 1px solid #ccc;
}

.customer-info h2 {
    margin-bottom: 20px;
}

.customer-info .info-group {
    margin-bottom: 15px;
}

.customer-info label {
    display: block;
    font-weight: bold;
    margin-bottom: 15px;
}

.customer-info span {
    display: block;   
    padding: 8px;
    background-color: #e9e9e9;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: background-color 0.8s ease-in-out;
}

.customer-info span:hover {
    background-color: #c9bb39;
    /* cursor: pointer; 
}
*/
.section-user-info {
    margin-top: 150px;
    margin-bottom: -50px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* min-height: 100vh; */
    background: url('img_login/login_1.jpg');
    background-size: cover;
    background-position: center;
    margin-top: -100px;
}

/* .container-user-info {
    max-width: 1400px;
    margin: auto;
    width: 100%;
    margin-top: 250px;
    margin-bottom: 100px;
    background-color: transparent;
} */

.container-user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
    margin-bottom: 100px;
    /* width: 70%; */
    height: 20%px;
    background: var(--red);
    color: white;
    /* background-color: rgb(242, 219, 219); */
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blul(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    padding: 10px;
    border: none;
    /* Bỏ viền */
    border-radius: 8px;
}

#account-user {
    display: flex;
    justify-content: center;
    background-color: #fff;
}

.sidebar-account {
    width: 20%;
    margin-right: 40px;
}

.menu-account {
    border: 1px solid #dae2e6;
}

.menu-account-item {
    padding: 10px 15px;
    color: var(--text-color);
    display: block;
    height: 100%;
    font-size: 15px;
    cursor: pointer;
}

.menu-account-item:hover,
.menu-account-item.active {
    background-color: #eee;
}

.menu-account-item:not(last-child) {
    border-bottom: 1px solid #eee;
}

.menu-account-item i {
    margin-right: 5px;
}

.main-account {
    width: 100%;
    border: 5px solid #ffa500;
    padding: 15px;
    margin: 0px;
    border-radius: 8px;
    background-color: rgb(255, 247, 247);
}

.main-account.active {
    display: block;
}


.main-account-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 10px;
    /* border-bottom: 1px solid #eee; */
    gap: 320px;
}

.main-account-header h3 {
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
    padding-right: 100px;
    /* border-bottom: 1px solid #eee; */
    gap: 20px;
}

.main-account-header h3 {
    display: inline-block;
    /* Ensure it only takes the necessary width */
    padding: 10px 20px;
    /* Add some padding */
    border: 2px solid #ccc;
    /* Add border */
    border-radius: 15px;
    /* Round the corners */
    background-color: #eb3030;
    /* Light background color */
    margin-bottom: 20px;
    /* Some space at the bottom */
}

.main-account-header p {
    display: flex;
    display: inline-block;
    justify-content: center;
    padding-bottom: 15px;
    border: 2px solid #ccc;
    background-color: #eb3030;
    border-radius: 15px;
    /* border-bottom: 1px solid #eee; */
}

.main-account-body {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 20px;
    margin: 10px 10px;
}

.main-account-body-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.main-account-body-row>div {
    width: 50%;
    padding-left: 20px;
}

.main-account-body-row button {
    padding: 15px 30px;
    /* Tăng kích thước padding để làm nút lớn hơn */
    font-size: 18px;
    /* Tăng kích thước chữ */
    background-color: #ff0000;
    /* Màu đỏ */
    color: white;
    border: none;
    border-radius: 8px;
    /* Tăng độ bo góc để nút nhìn mềm mại hơn */
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.main-account-body-row button:hover {
    background-color: #ffeb3b;
    /* Màu vàng */
    color: black;
    /* Chữ đen */
}

.main-account-body-col {
    padding-top: 10px;
    width: 50%;
}

.main-account-body-col .form-group {
    margin-right: 30px;
    padding-left: 20px;
    padding-bottom: 20px;
}


.main-header-options {
    position: absolute;
    top: 100px;
    right: 245px;
    color: white;
    font-weight: bold;
}

.custom-select-wrapper {
    position: relative;
    display: inline-block;
    margin-left: 10px;
    /* Khoảng cách nhỏ giữa chữ "Tuỳ chọn" và dropdown */
}

#options-dropdown {
    border: none;
    background-color: transparent;
    font-size: 16px;
    padding: 0;
    appearance: none;
    cursor: pointer;
    /* color: #ff2200; */
    width: 100%;
    color: white;
    font-weight: bold;
    /* Hiển thị ban đầu với chỉ mũi tên xuống */
    text-align: left;
    /* Căn giữa mũi tên xuống */
}

/* Khi dropdown được kích hoạt */
#options-dropdown:hover {
    width: auto;
    outline: none;
    color: rgb(255, 89, 0);
}

/* Định dạng cho các tùy chọn */
#options-dropdown option {
    color: black;
    /* Màu cho các lựa chọn */
}

/* Thêm khoảng cách giữa các phần tử khi dropdown mở */
#options-dropdown:focus option {
    padding: 5px;
}







.form-group {
    margin-bottom: 10px;
}

.form-label {
    margin-bottom: 5px;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
}

.form-group span {
    display: block;
    padding: 8px;
    color: #000000;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: background-color 0.8s ease-in-out;
}

.form-group span:hover {
    background-color: #ffeb3b;
    /* Màu vàng */
}

.form-group input .show-pass-info {
    padding-right: 100%;
}

.form-control {
    width: 100%;
    height: 40px;
    padding: 8px 12px;
    margin-bottom: 10px;
    background: rgb(231, 234, 227);
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    outline: none;
    transition: border 0.3s linear;
}

.form-control.error {
    border-color: red;
}

.form-control:focus {
    border-color: var(--red);
}

.form-message {
    color: red;
    font-size: 13px;
    margin-top: 10px;
}

.form-submit {
    width: 100%;
    height: 40px;
    outline: none;
    border: none;
    color: var(--white);
    background-color: var(--red);
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
}

.form-close {
    background-color: rgba(0, 0, 0, .3);
    height: 30px;
    width: 30px;
    line-height: 29px;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 2;
    border-radius: 50%;
    border: none;
    outline: none;
    color: var(--white);
    cursor: pointer;
}

.change-login a,
label a {
    color: var(--red);
}

.change-login {
    padding-top: 15px;
    text-align: center;
    font-size: 16px;
}

/* Test login sign up */
.lg-container div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.lg-container button {
    width: 50%;
    border: 0;
    outline: none;
    height: 40px;
    color: #fff;
    background-color: var(--red);
    cursor: pointer;
}

.lg-container button:first-of-type {
    border-right: 1px solid #eee;
}

#save-password,
#save-info-user {
    border: none;
    outline: none;
    color: rgb(219, 175, 175);
    background-color: var(--red);
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

#save-password i,
#save-info-user i {
    margin-right: 5px;
}

input[type=number] {
    --moz-appearance: textfield;
}

.order-history {
    color: white;
    /* size: 150%; */
    background-color: #b43232;
    padding: 20px;
    margin: 350px;
    margin-bottom: 80px;
    border: 10px solid  #ff0000;
    border-radius: 20px;
    box-shadow: #c0392b 0px 0px 10px;
    
}

.order-history-container {
    width: 100%;
}

.order-history h2 {
    color: #ffffff;
    text-align: center;
    margin: 10px 0px 20px 40px;
    padding: 20px 10px;
    margin-right: 20px;
    border-width: 10px;
    /* border-style: ridge; */
    border: 3px solid #e45b0c;
    box-shadow: #f61409;
    max-width: fit-content;
    border-radius: 4px;
    margin: auto;
    margin-bottom: 20px;
}

.history-table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
}

.history-table th,
.history-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.history-table thead {
    text-decoration-line: underline;
}

.history-table th {

    background-color: #4CAF50;
    color: white;
}

.history-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.history-table tr:hover {
    background-color: #ff8080;
    transition: 0.5s;
}

.filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 50px;
    margin-bottom: 4%;
    /* Khoảng cách dưới các phần lọc */
}

.filter-group {
    /* display: flex; */
    align-items: center;
    margin-right: 30px;
    /* Khoảng cách giữa các filter group */
}

.filters label {
    margin-right: 100px;
    /* Khoảng cách giữa label và input */
}

.search-input {
    width: 400px;
    /* Độ rộng của ô tìm kiếm */
    padding: 5px;
    /* Khoảng cách bên trong input */
}

.date-input {
    width: 120px;
    /* Độ rộng của ô lọc theo ngày */
    padding: 5px;
    /* Khoảng cách bên trong input */
}

.quantity-input {
    width: 50px;
    /* Độ rộng của ô lọc theo số lượng */
    padding: 5px;
    /* Khoảng cách bên trong input */
}

.product-input {
    width: 150px;
    /* Độ rộng của ô lọc theo tên sản phẩm */
    padding: 5px;
    /* Khoảng cách bên trong input */
}

.filters input {
    margin-top: 10px;
    margin-right: 100px;
    /* Khoảng cách giữa các input */
    padding: 5px;
    /* Khoảng cách bên trong input */
}

.filter-group .search-order {
    width: 200px;
    /* Độ rộng của ô tìm kiếm */
    padding: 5px;
    /* Khoảng cách bên trong input */
}

/* Footer */
.footer {
    background: var(--text-color);
    color: var(--bg-color);
    font-family: var(--font-family-1);
    width: 100%;
}

.footer-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    padding: 40px 0 30px;
}

.footer-logo {
    margin-bottom: 10px;
}

.footer-logo img {
    width: 80px;
}

.footer-box {
    display: flex;
    flex-direction: column;
}

.social {
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

.social a .bx {
    font-size: 20px;
    background: var(--yellow-color);
    color: var(--bg-color);
    border-radius: 50%;
    padding: 8px;
    margin-right: 0.8rem;
}

.social a .bx:hover {
    color: var(--text-color);
    background: var(--bg-color);
    transition: background 0.4s ease-in-out;
}

.footer-box h3 {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--bg-color);
    margin-bottom: 1rem;
}

.footer-box p {
    margin-bottom: 8px;
}

.footer-box p span {
    display: inline-block;
    width: 50px;
}

.footer-box a {
    color: var(--bg-color);
    margin-bottom: 10px;
}

.copyright {
    padding: 30px;
    color: var(--bg-color);
    text-align: center;
}

.main-header-cart {
    padding-right: 70px;
}